@model IEnumerable<Ecommerce_shop.Data.ChiTietHd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHdNavigation.MaHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHhNavigation.MaHh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
